.card {
    width: 290px;
    box-shadow: 3px -2px 21px -5px #777777;
    border-radius: 32px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 3px -2px 21px -5px #777777;
}

.cardName {
    padding: 0;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

.cardInfo {
    text-align: center;
}

.PokemonImg {
    height: 200px;
}

@media (max-width: 600px) {
    .card {
        width: 70%;
    }

    .PokemonImg {
        height: 150px;
    }

    .cardName {
        font-size: 20px;
    }

}
