nav {
   background-color: rgb(85, 109, 232);
   color: white;
   height: 64px;
   font-weight: 600;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}
